.user-login {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 28px;
    height: 24px;
    right: 156px;

    &__name {
        text-transform: capitalize;
    }

    &__button {
        min-width: 24px;
        height: 24px;
        line-height: 0;
        padding: 0;
        margin-left: 10px;
    }
}