<section class="full-card-section">
  <mat-toolbar class="full-card" *ngIf="itemData">
    <button
      mat-raised-button
      appBtnStyle
      [bgColor]="'#2F80ED'"
      class="full-card__button"
      (click)="closeWindow()"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <div class="full-card__image">
      <img [src]="itemData.snippet.thumbnails.high.url" alt="Photo" />
    </div>

    <div
      appTimeBorder
      [borderBottom]="itemData.snippet.publishedAt"
      class="info-block"
    >
      <article class="info-block__header">
        <h2 class="info-block__title">{{ itemData.snippet.title }}</h2>
        <p class="info-block__date">
          {{ itemData.snippet.publishedAt | date: 'EEEE, MMMM d, y' }}
        </p>
      </article>
      <article class="info-block__body">
        <h3>Description:</h3>
        <pre>{{ itemData.snippet.description }}</pre>
      </article>
      <app-podcast-info
        [statistics]="itemData.statistics"
        class="info-block__info"
      ></app-podcast-info>
    </div>
  </mat-toolbar>
</section>
