<div class="user-login">
  <ng-container *ngIf="isUserAuth">
    <p class="user-login__name">{{ name }}</p>
    <button
      mat-raised-button
      appBtnStyle
      bgColor="#2F80ED"
      class="user-login__button"
      routerLink="admin-page"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <button
      mat-button
      color="warn"
      class="user-login__login-btn"
      (click)="logout()"
    >
      logout
    </button>
  </ng-container>
  <ng-container *ngIf="!isUserAuth">
    <button
      mat-raised-button
      appBtnStyle
      bgColor="#2F80ED"
      class="user-login__login-btn"
      routerLink="auth/login"
    >
      login
    </button>
  </ng-container>
</div>
