.pre-header {
    height: 50px;
    background: #E5E5E5;
    justify-content: center;

    &__list {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    &__list-item {
        list-style-type: none;
        margin: 0 10.5px;
        cursor: pointer;
    }

    &__text {
        color: #2f80ed;
        text-decoration: underline;
    }

    &__input {
        height: 14px;
        background: white;
        border: none;
        outline: none;
        transition: 0.3s;

        &:focus {
            box-shadow: 0 0 4px 1px gray;
        }
    }
}