<form
  class="registration"
  [formGroup]="loginFormGroup"
  [ngStyle]="{
    'max-height':
      passwordControl.valid || !passwordControl.dirty ? '418px' : '438px'
  }"
>
  <h2 class="registration__title">registration</h2>

  <mat-form-field class="registration__form-field" appearance="fill">
    <mat-label class="registration__form-label">First name</mat-label>
    <input
      type="text"
      matInput
      formControlName="firstName"
      class="registration__from-input"
      placeholder="Jhon"
      maxlength="20"
    />
  </mat-form-field>

  <mat-form-field class="registration__form-field" appearance="fill">
    <mat-label class="registration__form-label">LastName</mat-label>
    <input
      type="text"
      matInput
      formControlName="lastName"
      class="registration__from-input"
      placeholder="Smith"
      maxlength="20"
    />
  </mat-form-field>

  <mat-form-field class="registration__form-field" appearance="fill">
    <mat-label class="registration__form-label">Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      class="registration__from-input"
      placeholder="pat@example.com"
    />
    <mat-error
      *ngIf="emailControl.invalid && !emailControl.hasError('required')"
    >
      The login email is <strong>invalida</strong>
    </mat-error>
    <mat-error *ngIf="emailControl.hasError('required')">
      Please enter <strong>a login email</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field
    class="registration__form-field"
    appearance="fill"
    [ngStyle]="{
      'margin-top': '5px',
      'margin-bottom':
        passwordControl.valid || !passwordControl.dirty ? '0px' : '20px'
    }"
  >
    <mat-label class="registration__form-label">Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      autocomplete="off"
      formControlName="password"
      class="registration__from-input"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="passwordControl.hasError('required')">
      Please enter <strong>a password</strong>
    </mat-error>
    <mat-error
      *ngIf="
        passwordControl.hasError('customError') &&
        !passwordControl.hasError('required')
      "
    >
      Your password isn't strong enough:
      <strong>{{ passwordControl.getError('customError').value }}</strong>
    </mat-error>
  </mat-form-field>

  <div class="registration__btns-group">
    <button
      mat-button
      class="registration__btn registration__btn-reg"
      routerLink="/auth/login"
    >
      login
    </button>
    <button
      mat-raised-button
      appBtnStyle
      [bgColor]="'#2F80ED'"
      class="registration__btn"
      (click)="submit()"
    >
      registration
    </button>
  </div>
</form>
