@mixin flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search {
    @include flex;
    min-width: 570px;

    @media (max-width: 1440px) {
        min-width: 360px;
    }

    @media (max-width: 640px) {
        min-width: 280px;
    }

    @media (max-width: 320px) {
        order: 4;
        min-width: 210px;
    }
    &__block {
        @include flex;
        width: 100%;
        max-width: 476px;
        margin: 0 10px;

        .search__input {
            width: 100%;
            height: 24px;
            background: #EFEFEF;
            border: none;
            color: #929292;
            transition: 0.3s;

            @media (max-width: 640px) {
                width: 40%;
                &::placeholder {
                    font-size: 10px;
                }
            }

            &:focus {
                width: 90%;
                outline: none;
                box-shadow: 0 0 4px 1px gray;
            }
        }

        .search__button {
            width: 80px;
            height: 24px;
            line-height: 0;
            border-radius: 0 4px 4px 0;
        }
    }

    &__settings-btn {
        min-width: 24px;
        height: 24px;
        line-height: 0;
        padding: 0;

        .search__settings-btn-icon {
            transform: scale(0.8);
        }
    }
}
