<ul class="video-info" *ngIf="statistics">
    <li class="video-info__item">
        <mat-icon class="item__icon">visibility</mat-icon>
        <span>{{ statistics.viewCount }}</span>
    </li>
    <li class="video-info__item">
        <mat-icon class="item__icon">favorite</mat-icon>
        <span>{{ statistics.likeCount }}</span>
    </li>
    <li class="video-info__item">
        <mat-icon class="item__icon">thumb_down</mat-icon>
        <span>{{ statistics.dislikeCount }}</span>
    </li>
    <li class="video-info__item">
        <mat-icon class="item__icon">forum</mat-icon>
        <span>{{ statistics.commentCount }}</span>
    </li>
</ul>
