.video-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;

    &__item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        color: black;
        font-size: 10px;

        .item__icon {
            transform: scale(0.8);
        }
    }
}